{
  "trailingComma": "none",
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/screens/(.*)$",
    "^@/ui/(.*)$",
    "^@/hooks/(.*)$",
    "^@/shared/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^./(.*)",
    "^../(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
